.nav__container {
  height: 90px;
  width: 100vw;
  background: black;
  color: white;
}

.nav__containerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__containerWrapperLogo {
  margin-left: 40px;
  font-weight: bold;
  margin-top: 40px;
}

.nav__containerWrapperContent {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-top: 40px;
}

.nav__containerWrapperLink {
  margin-right: 40px;
  margin-left: 40px;
}

.nav__containerWrapperLink > Link {
  text-decoration: none;
}
